<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
    <h1>MPA Login</h1>
    <div style="display: flex; flex-direction: row;">
        <div>ID:</div>
        <div><input type="text" id="ID"></div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>password:</div>
        <div><input type="password" id="password"></div>
    </div>
    <div>
        <input type="button" id="mpaLoginBtn" value="login">
    </div>
    <script type="text/javascript" src="/controllers/mpaLogin.js"></script>
</body>
</html>