<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
	<div class="col-sm-8 col-lg-10 content" style="min-height:1200px;">
		<h6 class="mg-md tc-black" style="font-size:1.2em;">
			<i class="fa fa-search-dollar"></i> 사용자권한설정
		</h6>
		<div id="authorityStart"></div>
		<p>※ 사용자의 권한에 따라 메뉴허용에 대한 제한이 있을 수 있습니다.(기안자는 기안만 가능, 검토자는 중간결재만 가능)</p>
		<div class="mg-md">
			<div class="xs-hidden d-none d-sm-block">
				<ul class="list-unstyled list-horizontal-layout depth">
					<li class="depth-list">
						<p class="depth-menu-active" style="background:#ddd;">
							전체
						</p>
						<p class="depth-menu">
							조회
						</p>
						<p class="depth-menu">
							이체
						</p>
						<p class="depth-menu">
							예금
						</p>
						<p class="depth-menu">
							신탁
						</p>
						<p class="depth-menu">
							대출
						</p>
						<p class="depth-menu">
							외환
						</p>
						<p class="depth-menu">
							펀드
						</p>
						<p class="depth-menu">
							카드
						</p>
						<p class="depth-menu">
							B2B/전자결재
						</p>
					</li>
				</ul>
			</div>
			<div class="row" id="authorityHtml"></div>
			<div class="row">
				<div class="col table-content-col bloc-margin-top">
					<div id="buttonLayout" class="form-group">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/controllers/setUserAuthority.js"></script>
</body>
</html>
